.box-text{
    padding: 2rem;
    h2{
        margin: 2rem 0;
        color: rgb(197, 97, 97);
        font-size: 48px;
    }
    h3{
        margin: 1rem 0;
    }
    p{
        margin: 1rem 0;
    }
}