.container{
    max-width: 600px;
    margin: 48px auto;
    padding: 24px;
    background-color: #483434;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.129);
    h2{
    font-size: 60px;
    color: white;
    width: 600px;
    margin-bottom: 16px;
    }

    .login-container{
       .login-form{
        .form-field{
            margin: 16px 0;
            input{
                height: 32px;
                width: 100%;
            }
        }
       }
        .primary-button{
            border-style: none;
            width: 100%;
            padding: 1.25rem;
            border-radius: 8px;
            cursor: pointer;
            background-color: #c68598;
            color: black;
            font-size: 16px;
            font-weight: bold;
            &:hover{
                color: white;
                background-color: #C65D7B;
                transition: 0.3s;
            }
        }
            
    }
}
