footer {    
    background-color: #483434;
    color: white;
    max-width: 100vw;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
    a {
        cursor: pointer;
        display: block;
        color: white;
        padding: 0.5rem;
        text-decoration: none;
        transition: 0.3s;
        &:hover{
            color: #F68989;
            text-decoration: underline;
        }
      }
    
}

