<app-header></app-header>
<div class="container">
    <div class="about-content">
        <h2>Sobre</h2>
        <div class="box-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia finibus nisl eu egestas. Pellentesque mollis blandit massa. Sed vitae urna eget lorem ornare maximus in vel mauris. Aliquam tempus fermentum leo, eu fermentum felis suscipit sed. In ultricies justo dui, vitae scelerisque erat suscipit eu. Nam in ex aliquet, pulvinar magna in, suscipit ex. Aliquam eget libero sed felis sodales sagittis.</p>
            <img src="../../../../../assets/images/image-cafe.png" alt="">
        </div>
        <div class="box-content">
            <img src="../../../../../assets/images/xicara-rosa.gif" alt="">
            <p>Nunc sem turpis, cursus ut eros vel, laoreet accumsan ipsum. In hac habitasse platea dictumst. Aenean ultrices diam vitae nisi imperdiet, non lobortis lacus sollicitudin. Duis tempor quam tellus, at mollis velit luctus ut. Donec interdum leo sed rutrum imperdiet. Donec et augue eleifend, euismod sapien at, ultricies metus. Ut at ligula vitae neque sollicitudin facilisis. Phasellus semper eget dui sed auctor. Suspendisse potenti. Cras sed quam et orci convallis ultrices. Nam at dolor at tellus vestibulum aliquam quis vitae quam.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>