.banner-principal{
    background-image: url('../../../../../assets/images/cafe.gif');
    position: sticky;
    background-size: auto;
    background-position-y: center;
    background-position-x: -50%;
    background-repeat: repeat;
    width: 100vw;
    height: 36rem;
    padding: 0;
    margin: 0;

    .background-transparency{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.005));
        width: 100vw;
        height: 36rem;  
      
        .banner-text{
            margin: 10rem auto;
            float: left;
            h2{
                font-size: 60px;
                color: white;
                width: 600px;
            }
            p{
                font-size: 16px;
                color: white;
                width: 400px;
            }
        }
    }
}