@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(224, 224, 224);
}

.container{
    max-width: 1366px;
    margin: auto;
    // sm: 768px,
    // md: 992px,
    // lg: 1366px,
}

@media (max-width: 991px){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (max-width: 576px){
    .container{
        max-width: 540px;
    }
}
